.izhar{
  color: red;   
  /* background-color: black; */

}
.izhar2{
  background-color: black;
  margin-top: 30px;
}
.App{
  text-align: center;
  background-color: red;
 height: 50vh;
  
}
.className{}